@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 2vh;
  overflow: hidden;
  user-select: none;
}

html, body, #content {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #9E7787;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

#main {
  display: flex;
  flex-direction: column;
  background-color: #9E7787;
}
#main .header {
  position: relative;
  height: 20%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFD8E8;
  overflow: visible;
}
#main .header .title {
  flex-grow: 1;
  text-shadow: #0004 0 0.5vh 1vh;
  overflow: visible;
}
#main .header .title * {
  font-size: 4vh;
  overflow: visible;
}
#main .header .nav {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  height: 30%;
  box-shadow: #0005 0 0.5vh 0.75vh;
}
#main .header .nav .button {
  flex-grow: 1;
  text-align: center;
  background-color: #b4dadd;
  border: 0.25vh solid #729699;
  border-left: none;
  border-right: none;
}
#main .header .nav .button.sel {
  background-color: #729699;
}
#main .inner {
  flex-grow: 1;
  position: relative;
}
#main .inner .tab {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.125s ease-out;
}
#main .inner .tab:nth-child(1) {
  transform: translateX(0);
}
#main .inner .tab:nth-child(2) {
  transform: translateX(100%);
}
#main .inner .tab.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 6vh;
  overflow-y: scroll;
}
#main .inner .tab.status .noActivities {
  text-align: center;
  text-shadow: #FFD8E8 0 0 1.5vh;
  overflow: visible;
}
#main .inner .tab.status .activityList {
  width: 100%;
  flex: none;
}
#main .inner .tab.status .activityList .entry {
  position: relative;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: #b4dadd;
  border-top: 0.25vh solid #729699;
  border-bottom: 0.25vh solid #729699;
  box-shadow: #0005 0 0.5vh 0.75vh;
}
#main .inner .tab.status .activityList .entry div {
  width: 90%;
}
#main .inner .tab.status .activityList .entry div:nth-child(1) {
  font-size: 2.5vh;
}
#main .inner .tab.status .activityList .entry::after {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  content: ">";
}
#main .inner .tab.status .add {
  margin-top: 1vh;
  width: 6vh;
  height: 6vh;
  border-radius: 3vh;
  flex: none;
  background-color: #D8FFDB;
  border: 0.25vh solid #729975;
  box-shadow: #0005 0 0.5vh 0.75vh;
}
#main .inner .tab.status .add * {
  font-size: 4vh;
}
#main .inner .tab.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 6vh;
  overflow-y: scroll;
}
#main .inner .tab.friends .friendsList {
  width: 100%;
  flex: none;
}
#main .inner .tab.friends .friendsList .entry {
  position: relative;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: #b4dadd;
  border-top: 0.25vh solid #729699;
  border-bottom: 0.25vh solid #729699;
  box-shadow: #0005 0 0.5vh 0.75vh;
}
#main .inner .tab.friends .friendsList .entry.exc {
  background-color: #D8FFDB;
  border-top: 0.25vh solid #729975;
  border-bottom: 0.25vh solid #729975;
}
#main .inner .tab.friends .friendsList .entry div {
  max-width: 90%;
}
#main .inner .tab.friends .friendsList .entry div:nth-child(1) {
  font-size: 2.5vh;
}
#main .inner .tab.friends .friendsList .entry::after {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  content: ">";
}
#main .inner .tab.friends .friendsList .entry.exc::after {
  content: "(!) >";
}

#activity {
  display: flex;
  flex-direction: column;
  background-color: #b4dadd;
  transition: opacity 0.15s ease, transform 0.125s ease-out;
}
#activity.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.33);
}
#activity .header {
  position: relative;
  height: 10%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}
#activity .header .title {
  flex-grow: 1;
  text-shadow: #0004 0 0.5vh 1vh;
  overflow: visible;
}
#activity .header .title * {
  font-size: 3vh;
  overflow: visible;
}
#activity .header .nav {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  height: 30%;
}
#activity .header .nav .button {
  flex-grow: 1;
  text-align: center;
}
#activity .inner {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}
#activity .inner .formEntry {
  align-items: center;
  display: flex;
  margin: 1vh;
}
#activity .inner .formEntry label {
  margin-right: 2vw;
}
#activity .inner .saveCancel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
}
#activity .inner .saveCancel > div {
  width: 35vw;
  height: 10vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vw;
  border-radius: 2vw;
}
#activity .inner .saveCancel > div.save {
  background-color: #D8FFDB;
  border: 0.25vh solid #729975;
}
#activity .inner .saveCancel > div.disabled {
  opacity: 0.5;
}
#activity .inner .saveCancel > div.cancel {
  border: 0.25vh solid #729699;
}
#activity .inner .saveCancel > div.delete {
  background-color: #c99;
  border: 0.25vh solid #a66;
}

#friend {
  display: flex;
  flex-direction: column;
  background-color: #b4dadd;
  transition: opacity 0.15s ease, transform 0.125s ease-out;
}
#friend.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.33);
}
#friend .header {
  position: relative;
  height: 10%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}
#friend .header .title {
  flex-grow: 1;
  text-shadow: #0004 0 0.5vh 1vh;
  overflow: visible;
}
#friend .header .title * {
  font-size: 3vh;
  overflow: visible;
}
#friend .header .nav {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  height: 30%;
}
#friend .header .nav .button {
  flex-grow: 1;
  text-align: center;
}
#friend .inner {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 6vh;
  overflow-y: scroll;
}
#friend .inner .list {
  width: 100%;
  flex: none;
}
#friend .inner .list .entry {
  position: relative;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: #FFD8E8;
  border-top: 0.25vh solid #9E7787;
  border-bottom: 0.25vh solid #9E7787;
  box-shadow: #0005 0 0.5vh 0.75vh;
}
#friend .inner .list .entry.exc {
  background-color: #D8FFDB;
  border-top: 0.25vh solid #729975;
  border-bottom: 0.25vh solid #729975;
}
#friend .inner .list .entry div {
  max-width: 90%;
}
#friend .inner .list .entry div:nth-child(1) {
  font-size: 2.5vh;
}
#friend .inner .list .entry::after {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}
#friend .inner .list .entry.exc::after {
  content: "⭐";
}
#friend .inner .back {
  width: 35vw;
  height: 10vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vw;
  margin-top: 4vw;
  border-radius: 2vw;
  border: 0.25vh solid #729699;
}
#friend .inner .back.disabled {
  background-color: #ccc;
  color: #555;
}
#friend .inner .back.delete {
  background-color: #c99;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
